/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18); /* nhạt */
  border-radius: 0; /* vuông */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.28); /* hover đậm hơn */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.18) transparent;
}

/* ===== Hide Scrollbar - Works on Chrome Windows ===== */

/* Chrome, Edge, Safari */
.hide-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.hide-scroll {
  scrollbar-width: none;
}

/* IE, Edge cũ */
.hide-scroll {
  -ms-overflow-style: none;
}